In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from config import pw

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [6]:
engine = create_engine(f"postgresql://postgres:{pw}@localhost:5432/AQI_US_2000_2016")

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [8]:
Base.classes.keys()
inspector = inspect(engine)

In [11]:
columns = inspector.get_columns('aqi')
for c in columns:
    print(c['name'], c["type"])

date VARCHAR(30)
state VARCHAR(30)
county VARCHAR(30)
no2_aqi NUMERIC
o3_aqi NUMERIC
so2_aqi NUMERIC
co_aqi NUMERIC

In [19]:
df_2015.reset_index(level='State')

                 State    NO2 AQI     O3 AQI    SO2 AQI     CO AQI
Date Local
1              Alabama  23.289474  27.236842   4.947368   4.815789
1               Alaska  42.833333   9.000000  29.333333  14.333333
1              Arizona  39.354347  25.030157   5.254893  12.674527
1             Arkansas  23.325806  24.870968   3.409677   7.122581
1           California  30.204358  21.888893   3.581684  12.251400
...                ...        ...        ...        ...        ...
12                Utah  32.331461  22.522472   1.544944   8.573034
12            Virginia  23.092949  17.858974   9.894231   7.796474
12          Washington  21.451613  23.290323   0.838710   3.516129
12           Wisconsin  26.258065  13.580645   7.709677   4.258065
12             Wyoming  13.915323  31.778226   2.157258   2.012097

[557 rows x 5 columns]